header {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 100%;
    /* background: #a25099; */
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.30196078431372547);
    z-index: 99;
}

header .logo img {
    width: 150px;
}

header .logo .mob-icon {
    display: none;
}